doctype html
html
    head
        block title
            title Default title
    body
        header
            ul
                li
                    a(href='/') Index
                li
                    a(href='/secret') Secret
                if(!user)
                    li
                        a(href='/login') Login
                    li
                        a(href='/register') Register
                if(user)
                    li
                        a(href='/logout') Logout
        content
            p #{message}
            block content
        footer
