<form action="/login" method="post" name="login">
    <label>Username</label>
    <input type="text" name="username" id="username">

    <label>Password</label>
    <input type="password" name="password" id="password">

    <br>

    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
</form>