extends ./layout.pug

block title
    title Register

block content
    form(method='POST', action='/register')
        #form-group
            label Username:
            input.form-control(name='username', type='text')
        #form-group
            label Password:
            input.form-control(name='password', type='text')
        if messageArray
            ul
                each msg in messageArray
                    li errors in #{msg} field
        input.btn.btn-primary(type='submit', value='Submit')